#card{
    width: 90%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    padding: 1rem;
}
#box{
    height: 12rem;
    width: 20rem;
    background-color: rgb(10, 243, 10);
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 4px 4px 4px 4px rgb(10, 243, 10) ;
    margin-top: 20px;
    font-size: 23px;
    font-family: 'Times New Roman', Times, serif;
}
.btn{
margin-left: 6rem;
height: 40px;
width: 65px;
background-color: yellow;
border-radius: 5px;
font-weight: bold;
margin-top: 20px;
}