body{
    text-align: center;
    background-color: aqua;
    }
#set{
    font-size: 70px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 60px;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#bt1{
    height: 40px;
    width: 100px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px greenyellow;
    border: 0px solid rgb(14, 102, 143);
    font-size: 20px;
    background-color: rgb(14, 102, 143);
}
#black{
    color: black;
    
}
#green{
    color:green;
}
#red{
    color: red;
}