table{
  border: 2px solid black;
  background-color: skyblue;
  color: black;
  height: 90vh;
  width: 100%;
  text-align: center;
}
td,th{
  border: 2px solid black;
}
.Top{
  background-color: green;
}
.Average{
  background-color: blue;
}
.Lower{
  background-color: orange;
}
#js{
  background-color: red;
}
#css{
  background-color: brown;
}
#html{
  background-color: palevioletred;
}
#any
{
  color:red;
}



